
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 5px solid rgb(80, 57, 109);
    height: 70vh;
    width: 99%;
    margin-bottom: 20px;
    border: 5px solid white;
    border-radius: 10px;
}